<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brucewuu.android.qlcy">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MainActivity" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.brucewuu.android.qlcy.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/register"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.CreateDiscussionActivity"
            android:label="@string/create_discussion"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.DiscussionDetailActivity"
            android:label="@string/discussion_info"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask" />


        //YzxIMCoreService是云之讯IM的核心服务，必须添加，通过Application调用启动服务
        <service
            android:name="com.yzxtcp.service.YzxIMCoreService"
            android:exported="true" />
        //AlarmReceiver和MsgBackReceiver是维持TCP长连接心跳的广播
        <receiver android:name="com.yzxtcp.tools.tcp.receiver.AlarmReceiver" />
        <receiver android:name="com.yzxtcp.tools.tcp.receiver.MsgBackReceiver" />

    </application>

</manifest>
